<%- include("../includes/header") %>
<body>
    <header>
        <%- include("../includes/navbar") %>
    </header>
    <main>
        <h1 style="text-align:center;">Your Orders Are</h1>

<%- include("../includes/end") %>